<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head-link"></head>
<body>

<div class="site-wrap">
	<header th:replace="layout :: header"></header>

	<div class="bg-light py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
			</div>
		</div>
	</div>

	<div class="site-section">
		<div class="container">

			<div class="row mb-5">
				<div class="col-md-9 order-2">

					<div class="row">
						<div class="col-md-12 mb-5">
							<div class="float-md-left mb-4"><h2 class="text-black h5">Shop All</h2></div>
							<div class="d-flex">
								<div class="dropdown mr-1 ml-md-auto">
									<button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Latest
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
										<a class="dropdown-item" href="#">Men</a>
										<a class="dropdown-item" href="#">Women</a>
										<a class="dropdown-item" href="#">Children</a>
									</div>
								</div>
								<div class="btn-group">
									<button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">Reference</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
										<a class="dropdown-item" href="#">Relevance</a>
										<a class="dropdown-item" href="#">Name, A to Z</a>
										<a class="dropdown-item" href="#">Name, Z to A</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Price, low to high</a>
										<a class="dropdown-item" href="#">Price, high to low</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div th:if="${products.size >0}" class="row mb-5">

						<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up" th:each="p:${products}">
							<div class="block-4 text-center border">
								<figure class="block-4-image">
									<a th:href="@{'/product/'+${p.id}}"><img alt="Image placeholder" class="img-fluid" th:src="@{'/img/product_img/'+${p.image}}"></a>
								</figure>
								<div class="block-4-text p-4">
									<h3><a th:href="@{'/product/'+${p.id}}" th:text="${p.title}"></a></h3>
									<p class="mb-0" th:text="${p.description}"></p>
									<h4 class="text-primary font-weight-bold" th:text="${p.price}"></h4>
								</div>
							</div>
						</div>

					</div>
					<th:block th:unless="${products.size>0}">
						<p class="fs-4 text-center mt-4 text-danger">Product not available</p>
					</th:block>


					<div class="row" data-aos="fade-up">
						<div class="col-md-12 text-center">
							<div class="site-block-27">
								<ul>
									<li><a href="#">&lt;</a></li>
									<li class="active"><span>1</span></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&gt;</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-2 p-0">

					<div class="card shadow-sm p-0 mb-5 bg-body-tertiary rounded">
						<div class="card-body">
							<div class="list-group">
								<p class="fs-5">Category</p>
								<a href="/products"
								   th:classappend="${paramValue==''} ? 'active':''"
								   class="list-group-item list-group-item-action"
								   aria-current="true"> All </a> <a th:each="c:${categories}"
																	th:href="@{'/products?category='+${c.name}}"
																	th:classappend="${paramValue == c.name} ? 'active':''"
																	class="list-group-item list-group-item-action">[[${c.name}]]</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="site-section site-blocks-2">
						<div class="row justify-content-center text-center mb-5">
							<div class="col-md-7 site-section-heading pt-4">
								<h2>Categories</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
								<a class="block-2-item" href="#">
									<figure class="image">
										<img src="images/women.jpg" alt="" class="img-fluid">
									</figure>
									<div class="text">
										<span class="text-uppercase">Collections</span>
										<h3>Women</h3>
									</div>
								</a>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
								<a class="block-2-item" href="#">
									<figure class="image">
										<img src="images/children.jpg" alt="" class="img-fluid">
									</figure>
									<div class="text">
										<span class="text-uppercase">Collections</span>
										<h3>Children</h3>
									</div>
								</a>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
								<a class="block-2-item" href="#">
									<figure class="image">
										<img src="images/men.jpg" alt="" class="img-fluid">
									</figure>
									<div class="text">
										<span class="text-uppercase">Collections</span>
										<h3>Men</h3>
									</div>
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>



	<footer th:replace="layout :: footer"></footer>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>